body {
  background-color: #69d5ff96;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100pxx;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}

#output {
  width: 60%;
  min-height: 16px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #6eaadb;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
}

#weg {
  width: 60%;
  min-height: 16px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #6eaadb;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
}

#calculate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  font-size: 18px;
  background-color: #1d90ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 400px) {
  div {
    width: 90%;
  }
}
